* {
/*	border: 1px solid yellowgreen;*/
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	font-size: 30px;
	display: inline;
	float: right;
	padding: 10px;
}



.image {
	position: relative;
	width: 100%;
}

.text-overlay {
	position: absolute;
	top: 125px;
	left: 0;
	width: 100%;
}

.space {
	padding: 20px;
}

