* {
/*	border: 1px solid yellowgreen;*/
}

body {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
	font-family: 'Source Code Pro', monospace;
}

h1 {
	color: white;
	font-size: 4em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	font-size: 20px;
	display: inline;
	float: right;
	padding: 10px;
	font-family: 'Source Code Pro', monospace;
}



.image {
	position: relative;
	width: 100%;
}

.text-overlay {
	position: absolute;
	top: 15em;
	left: 0;
	width: 100%;
}

.space {
	padding: 20px;
}

.back-img {
	filter: blur(5px) grayscale(15%);
}

.location {
	font-size: 24px
}
