* {
/*	border: 1px solid yellowgreen;*/
	color: black;
}

body {
	color: black;
}

h1, h2, h3 {
	font-family: 'Source Code Pro', monospace;
}

h2 {
	color: white;
	font-size: 4em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav {
	font-size: 20px;
	display: inline;
	float: right;
	padding: 10px;
	font-weight: 500;
	font-family: 'Source Code Pro', monospace;
}

a {
	font-family: 'Source Code Pro', monospace;
	text-decoration: none;
	color: black;
}



.image {
	position: relative;
	width: 100%;
}

.text-overlay {
	position: absolute;
	top: 15em;
	left: 0;
	width: 100%;
}

.space {
	padding: 20px;
}

.back-img {
	filter: grayscale(80%);
}

.location {
	font-size: 24px
}

.title {
	color: dimgray;
	font-size: 5em;
	font-weight: lighter;
	text-transform: uppercase;
	font-family: 'Electrolize', sans-serif;
}

.header {
	position: relative;
	width: 100%;
}

.sink1{
	position: absolute;
	top: 5em;
	right: 30em;
}

.sink2{
	position: absolute;
	top: 6.5em;
	right: 0;
}