<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta lang="en-us">
    
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    
    <title>Insert Title Here</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
	<div class="col-md-6">
	  <img src="http://via.placeholder.com/150x150" alt="logo">
	</div>
	<div class="col-md-6">
	  <nav>
	    <ul>
	      <li>Home</li>
	      <li>About</li>
	      <li>Connect</li>
	      <li>Sign Up/Log In</li>
	      <li><a href="/logout/">Logout</a></li>
	    </ul>
	  </nav>
	</div>
      </div>
      
      <div class="row">
	<div class="col-md-12">
	  <div class="">
	    <img class="img-responsive" src="http://via.placeholder.com/950x400" alt="large background image">
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
