<!DOCTYPE html>
</html>
<head>
  <meta charset="utf-8">
  <meta lang="en-us">
  
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="../static/style.css" rel="stylesheet" type="text/css">
  <link href="https://necolas.github.io/normalize.css/7.0.0/normalize.css" rel="stylesheet" type="text/css">
  
  <title>Insert Title Here</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3 space">
	<img src="http://via.placeholder.com/100x100" alt="logo">
      </div>
      <div class="col-md-9">
	<nav class="navbar space navbar-default">
	  <ul>
	    <li><a href="/logout/">Log Out</a></li>
	    <li><a href="/legislators/">Connect</a></li>
	    <li><a href="#">About</a></li>
	    <li><a href="/">Home</a></li>
	  </ul>
	</nav>
      </div>
    </div>
    
    <hr/>
    
    <div class="row">
      <div class="col-md-12">
	{{senate}}
      </div>
    </div>
    
  </div>
</body>
</html>
